<body style="padding-top: 20px;">
  <button class= "scroll" style= "float: right; display: inline;">
    <%= link_to("Next Picture", @post.next_post) if @post.next_post%>
  </button>

  <button class= "previous scroll" style="float: left; display: inline;">
    <%= link_to("Previous Picture", @post.previous_post) if @post.previous_post %>
  </button><br>

<div>

  <%= image_tag @post.image.url(:large), width: "95%", height: "65%" %><br>
 <h1 style="text-decoration:underline;"><%= @post.description %> </h1>
</div>
<br>
  <br />
  <%=render 'comments/comment' %>
</div>







</div>
</body>
